<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Ledger Transactions</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Ledger Transactions</h1>
      <div class="table-responsive">
        {{ tables|safe }}
      </div>
      <a href="/" class="btn btn-primary mt-3">Upload Another CSV</a>
    </div>
  </body>
</html>